# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Dependencies
node_modules/
*/node_modules/

# Production Builds & Outputs
dist/
dist-ssr/
*/dist/
*/dist-ssr/

# Environment Variables
.env
.env.*
!.env.example
*/.env
*/.env.*
!*/.env.example

# Database & SQLite files
*.db
*.db-journal
*.sqlite
*.sqlite3
/generated/prisma
*/generated/prisma

# Logs
*.log
logs/
*/logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & Editor Configs
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Cache
tmp/
temp/
.turbo/
